<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Verify Your Email</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/verify-email.css">
</head>
<body>
  {% with messages = get_flashed_messages(category_filter=["pass-change-success"]) %}
                                         {% if messages %}
                                            
                                          {{messages}}
                                            
                                         {% endif %}
                                     {% endwith %}

  {% with messages = get_flashed_messages(category_filter=["pass-change-empty"]) %}
                                         {% if messages %}
                                            
                                          {{messages}}
                                            
                                         {% endif %}
                                     {% endwith %}
<div class="bgImage"></div>

<form id="msform" action="/reset-password/{{token}}" method="post">

      <fieldset>
        <h2 class="h2">Reset Password</h2>
        <h3 class="h3">Enter Your New Password</h3>
        <input type="text" name="new-password" placeholder="New Password" class="otp-code" />
        <input type="submit" name="Submit" class="next action-button" value="Submit" />
      </fieldset>

</form>

</body>
</html>