<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/update-profile.css">
    <link rel="stylesheet" href="../static/dsb-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/aee2d4e9ed.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet">

    <title> Admin Dashboard </title>
</head>
<body>
    


<section id="sidebar">
        <div class="sidebar-brand">
            <h4></i> <span>Coder's Club</span></h4>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li ><a href="{{url_for('dash_home')}}"><i class="fa fa-desktop"></i> <span>Dashboard</span></a></li>
                <li><a href="/dashboard/add-event"><i class="fa fa-file-o"></i> <span>Add Event</span></a></li>
                <li><a href="/dashboard/add-question"><i class="fa fa-stack-exchange"></i> <span>Add Questions</span></a></li>
                <li><a href="/dashboard/all-questions?question=c&level=java"><i class="fa fa-stack-exchange"></i> <span>All Questions</span></a></li>
                <!-- <li><a href="#"><i class="fa fa-users"></i> <span>Participants</span></a></li> -->
                <li class="status-active"><a href="#"><i class="fa fa-reddit-alien"></i> <span>My Profile</span></a></li>
                <li><a href="javascript:void(0)" onclick="location.href='/logout'"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </section>
    <Section id="main-content">
        <header>
            <h4>Dashboard
                
            </h4>
            
            
        </header>
        
        <div class="container rounded bg-white mt-5  mb-5">
            <div class="row">
                <div class="col-md-3 ml-5 border-right">
                <!--  Using Inline CSS to do jinja templating stuff -->
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="130px" style="background-image: url(../static/user-uploads/{{current_user.profile}}); background-size: cover; background-color: aquamarine; background-position:center;"   height="110px" ><span class="font-weight-bold">{{s}}</span>
            <form action="{{url_for('fileUpload')}}" method="post" enctype="multipart/form-data"> 
                        <span> <input type="file" name="file"></span>
                        <br> <br>
                       <button type="submit" class="btn btn-primary mr-5">Change Photo</button>
            </form>
                    </div>
                </div>
                
                <div class="col-md-6 border-right">
                    <div class="p-3  py-5">
                        {% with messages = get_flashed_messages(category_filter=["profile-update"]) %}
                    {% if messages %}
                       
                        {% for messages in messages %}
                                    <span style="color: #4fb64f;  text-align: center;" >&nbsp;&nbsp;{{messages}}</span>
                       {% endfor %}
                       
                    {% endif %}
                {% endwith %}
                        <div class="d-flex justify-content-between align-items-center mb-3">
                           
                            <h4 class="text-right">Account Details</h4>
                            
                        </div>
                        <form action="{{url_for('updateProfile')}}" method="post">
                            <div class="col-md-12"> <label class="labels">Full Name</label><input type="text" name="user-name" class="form-control" value="{{current_user.name}}" autocomplete="off"></div>
                            <div class="col-md-12"> <label class="labels mt-4">Enrollment Id</label> <br>
                            <code>{{current_user.enrollment_id}}</code>
                            </div> 
                            <div class="col-md-12"><label class="labels mt-4">Email ID</label><br><code>{{current_user.email}}</code>
                            </div>
                            {% if current_user.program == None %}
                            <div class="col-md-12"><label class="labels mt-4">Program/Year</label><input type="text" name="user-program" class="form-control"  value=""></div>
                            {% else %}
                            <div class="col-md-12"><label class="labels mt-4">Program/Year</label><input type="text" name="user-program" class="form-control"  value="{{current_user.program}}"></div>
                            {% endif %}
                            <div class="col-md-12"><label class="labels mt-4">Change Password</label><input type="text" name="user-password" class="form-control" autocomplete="off"></div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Update and Save Profile</button></div>
                    </form>
                    </div>
                </div>
           
            </div>
        </div>
        </div>
        </div>





</Section>



</body>
</html>